@page
@model MealApp.Pages.Products.AddModel
@using MealApp.Models.Enums 
@{
    
}
<h1>Dodaj Produkt</h1>

<form enctype="multipart/form-data" method="post" class="mt-3">

    <div class="form-group row">
        <label asp-for="ProductDTO.ProductName" class="col-sm-2 col-form-label">
            Nazwa
        </label>
        <div class="col-sm-4">
            <input asp-for="ProductDTO.ProductName" class="form-control" placeholder="Nazwa produktu">
        </div>
        <label asp-for="ProductDTO.Photo" class="col-sm-2 col-form-label">
            Zdjęcie produktu
        </label>
        <div class="col-sm-4 custom-file" lang="pl">
            <input asp-for="ProductDTO.Photo" type="file" class="form-control-file">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ProductDTO.Category" class="col-sm-2 col-form-label">
            Kategoria
        </label>
        <div class="col-sm-4">
            <select class="form-control" asp-for="ProductDTO.Category"
                    asp-items="Html.GetEnumSelectList<ProductCategories>()">
            </select>
            <span asp-validation-for="ProductDTO.Category" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ProductDTO.Kcal" class="col-sm-2 col-form-label">
            Kalorie
        </label>
        <div class="col-sm-4">
            <input asp-for="ProductDTO.Kcal" class="form-control" placeholder="Ilość kalorii">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ProductDTO.Unit" class="col-sm-2 col-form-label">
            Jednostka
        </label>
        <div class="col-sm-4">
            <input asp-for="ProductDTO.Unit" class="form-control" placeholder="Jednostka">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="ProductDTO.QuantityUnit" class="col-sm-2 col-form-label">
            Ilość jednostki
        </label>
        <div class="col-sm-4">
            <input asp-for="ProductDTO.QuantityUnit" class="form-control" placeholder="Ilość jednostek">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Dodaj</button>
            <a asp-page="/Products/Index" class="btn btn-danger">Wróć</a>
        </div>
    </div>

    @section Scripts{ 
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }
</form>