@page "{id}"
@model MealApp.Pages.Products.EditModel
@using MealApp.Models.Enums
@{
    var photoPath = "~/images/" + (Model.ProductDTO.PhotoPath ?? "noimage.jpg");
}
<h1>Edytuj produkt</h1>

<form enctype="multipart/form-data" method="post" class="mt-3">
    <input hidden asp-for="ProductDTO.Id" />
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="form-group row">
                    <label asp-for="ProductDTO.ProductName" class="col-sm-4 col-form-label">
                        Nazwa
                    </label>
                    <div class="col-sm-8">
                        <input asp-for="ProductDTO.ProductName" class="form-control" placeholder="Nazwa produktu">
                        <span asp-validation-for="ProductDTO.ProductName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ProductDTO.Category" class="col-sm-4 col-form-label">
                        Kategoria
                    </label>
                    <div class="col-sm-8">
                        <select class="form-control" asp-for="ProductDTO.Category"
                                asp-items="Html.GetEnumSelectList<ProductCategories>()">
                        </select>
                        <span asp-validation-for="ProductDTO.Category" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ProductDTO.Kcal" class="col-sm-4 col-form-label">
                        Kalorie
                    </label>
                    <div class="col-sm-8">
                        <input type="text" asp-for="ProductDTO.Kcal" class="form-control" placeholder="Ilość kalorii">
                        <span asp-validation-for="ProductDTO.Kcal" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ProductDTO.Unit" class="col-sm-4 col-form-label">
                        Jednostka
                    </label>
                    <div class="col-sm-4">
                        <select class="form-control" asp-for="ProductDTO.Unit"
                                asp-items="Html.GetEnumSelectList<Unit>()">
                        </select>
                        <span asp-validation-for="ProductDTO.Unit" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="ProductDTO.QuantityUnit" class="col-sm-4 col-form-label">
                        Ilość jednostek
                    </label>
                    <div class="col-sm-8">
                        <input type="text" asp-for="ProductDTO.QuantityUnit" class="form-control" placeholder="Ilość jednostek">
                        <span asp-validation-for="ProductDTO.QuantityUnit" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary btn-block">Aktualizuj</button>
                    </div>
                    <div class="col-sm-6">
                        <a asp-page="/Products/Index" class="btn btn-danger btn-block">Wróć</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <label asp-for="ProductDTO.PhotoPath" class="col-sm-4 col-form-label">
                    <img class="card-img-top" style="width:256px; height:256px" src="@photoPath" asp-append-version="true" />
                </label>
                <div class="col-sm-8 custom-file" lang="pl">
                    <input asp-for="ProductDTO.Photo" type="file" class="form-control-file">
                    <span asp-validation-for="ProductDTO.Photo" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
        <partial name="~/Pages/Shared/_ValidationScriptsPartial.cshtml" />
        <script>
            $(document).ready(function () {
                $('.custom-file-input').on("change", function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
            });
        </script>
    }
</form>